.adminpanel {
    width: 50%;
    text-align: center;
    margin:0 auto;
    border-left: 2px solid $salmon;
    border-right: 2px solid $salmon;
}

.HotelAdmin {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid $salmon;
}


.adminlogin {
    height: 100%;
    text-align: center;
}

.adminfield {
    width: 50%;
}

.adminbtn {
    width: 100%;
    text-align: center;
    margin-top: -30px;
}


.adminbook {
    width: 80%;
    margin: 0 auto;

    &__container {
        margin: 0 auto;
        text-align: center;
        width: 70%;
        border: 2px solid $salmon;
    }

    &__title {
        color: $salmon;
    }
}

.contactspec {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.admincontact {
    width: 90%;
    text-align: center;
    margin: 0 auto;

    &__contact {
        border-top: 2px solid $salmon;
        border-bottom: 2px solid $salmon;
        margin: 0 auto;
        text-align: center;
        width: 70%;
        list-style: none;
    }
}

.admin_addhotel {
    width: 70%;
    margin: 0 auto;
}

.adminlogin {
    width: 20%;
    margin: 0 auto;

    &__input {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .adminbook {
        width: 100%;

        &__container {
            width: 90%;
        }
    }

    .admincontact {
        width: 100%;

        &__contact {
            width: 90%;
        }
    }
}