.footer {
  width: 100%;

  &__columns {
    float: left;
    width: 33%;
    text-align: center;
  }

  &__left {
    text-align: left;
  }

  &__icons {
    margin-top: 20px;
    font-size: 20px;
  }

  &__right {
    text-align: right;
  }

}